// Custom variables
$cl-blue: #1668B2;
$cl-light-blue: #C2E4FF;
$cl-yellow: #FFC039;
$cl-gray: #777;
$bg-gray: #f9f9f9;
$cl-light-gray: #e5e5e5;
$cl-black: #333;
$cl-red: #DD1E25;
$cl-pink: #EC4A89;
$cl-white: #fff;
$cl-orange: #FF643A;

// Font stacks

// Font-size
$font-size-medium: 14px;
$font-size-small: 12px;
$font-size-xsmall: 10px;
$font-size-base: 16px;
$font-size-large: 18px;
$font-size-elarge: 20px;
$font-size-xlarge: 24px;

// Font-weight
$font-weight-base: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: 600;

// Asset paths
$path-images: '../images';
$path-fonts     :  '../fonts';

